.image-container {
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 10px;
    object-fit: cover;
}

.container-photo::after {
    content: "";
    clear: both;
    display: table;
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}